<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Associated Domains for Universal Deep Linking -->
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:bookmyspace.com</string>
	</array>
	<!-- Apple Push Notification service (APNs) Environment -->
	<key>aps-environment</key>
	<string>development</string>
</dict>
</plist>
